@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.content {
  height: 3000px;
}

.about-dropdown-content a:hover {
  background-color: #ddd;
}

.about-dropdown:hover .about-dropdown-content {
  display: block;
}

/* .background_image {
  padding-top: 134px;
} */