<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

  <meta name="csrf-token" content={get_csrf_token()} />
  <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>

  <!-- css -->
  <link rel="stylesheet" href="/tabler/voc/reset.css">
  <link rel="stylesheet" href="/tabler/voc/common.css">


  <style>
    .alert:empty {
      display: none;
    }
  </style>

</head>

<body>
  <%= @inner_content %>
</body>

</html>